PORT=3001
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=medsync

JWT_SECRET=medsync_chave_jwt_troque_em_producao_2025
JWT_EXPIRES_IN=7d

BCRYPT_ROUNDS=12

FRONTEND_URL=http://localhost:5173

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SEGURO=false
EMAIL_USUARIO=lluanuanandummm@gmail.com
EMAIL_SENHA=tzoiesdyqhfruagl
EMAIL_REMETENTE=MedSync <seu.email.de.verdade@gmail.com>
